<h1><%= @meme.title %></h1>

<div><%= image_tag @meme.url_source %></div>
<div>Category: <%= @meme.category.name %></div>
<div>
  Votes: <%= @meme.votes_count %>
  <% if user_signed_in? && has_voted?(@meme) %>
    <%= button_to 'Unvote!', meme_vote_path(@meme, @vote), method: :delete, class: 'button' %>
  <% elsif user_signed_in? && !has_voted?(@meme) %>
    <%= button_to 'Vote!', meme_votes_path(@meme), class: 'button' %>
  <% else %>
    <%= link_to 'Login to vote!', new_user_session_path, class: 'button' %>
  <% end %>
</div>

<h2>Comments</h2>
<% if user_signed_in? %>
  <%= form_with url: meme_comments_path(@meme) do %>
    <div><%= text_area_tag 'comment[body]' %></div>
    <div><%= submit_tag 'New Comment' %></div>
  <% end %>
<% else %>
  <%= link_to 'Login to add a comment!', new_user_session_path, class: 'button' %>
<% end %>

<% @meme.comments.each do |comment| %>
  <article>
    <div><strong><%= comment.user.username %></strong>:</div>
    <div><%= comment.body %></div>
  </article>
<% end %>
