<header>
  <nav>
    <div>
      <div>
        <h1 class="logo">
          <a class="logo_link" href="/"> <img class="logo_link_img" src="images/memeable.png" alt="" /></a>
        </h1>
      </div>
      <ul class="links">
        <li>
          <%= link_to "By category", "/category" %>
        </li>
        <li>
          <%= link_to "By popularity", "/popular" %>
        </li>
        <li>Search</li>
      </ul>
    </div>
    <div class="user">
      <% if current_user %>
      <span class="user_welcome"> Welcome, <strong><%= current_user.username %></strong>! </span>
      <li class="user_dropdown">
        <%= link_to "Create meme", new_meme_path %>
      </li>
      <span class="user_dropdown">
        <%= link_to "My account", "/my_profile" %>
      </span>
      <span class="user_dropdown">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      </span>
      <% else %> <%= link_to 'Log in', new_user_session_path %> <%= link_to 'Sign up', new_user_registration_path %> <%
      end %>
    </div>
  </nav>
  <hr />
</header>
